    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download</h2>
                    <p>Coming soon. </p><!-- You can download dark source code for free at github.com/darkapp.-->
                    <a href="https://github.com/darkapp" class="btn btn-default btn-lg">Visit Source Code Download Page</a>
                </div>
            </div>
        </div>
    </section>
